/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-table
    {
        border-color: blue;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-table
    {
      border-color:greenyellow;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-table
    {
        border-color: orange;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-table
    {
        border-color: red;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-table
    {
        border-color: yellow;
    }
}